.banner-page {
    background-blend-mode: multiply;
    display: block;
    width: 100%;
    height: 70vw;
    max-height: 400px;
    background-size: cover;
    position: relative;
    background-position: center;
}